@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  font-family: "Poppins", sans-serif;
}
@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 20px;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #C1C1C1;
      border-radius: 20px;
      border: 3px solid #FAFAFA;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #afafaf;
    }
  }
  

